#form {
  margin: 20px 0; 
}

.conteudo {
  display: flex;
  gap: 20px;
}

table {
  height: fit-content;
}

tr {
  max-height: 40px;
}

th, td {
  border: 1px solid black;
  height: 40px;
  max-height: 40px;
  width: 200px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
}

input {
  padding: 10px 10px;
  font-size: 14px;
}

table button {
  width: 100%;
}
